@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
* {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: "Raleway", "Times", "sans-serif";
  font-weight: 500;
  background: linear-gradient(45deg, rgb(204, 37, 14) 0%, rgb(214, 99, 5) 50%, rgb(100, 30, 2) 100%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.35);
}
header h1 {
  font-family: "Oleo Script", "Lucida", "cursive";
  margin-bottom: 0;
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}
header h1:hover {
  cursor: pointer;
}
header p {
  margin: 1rem;
  font-weight: 400;
  min-width: 160px;
}

div.home {
  max-width: 60ch;
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
}
div.home h2.homeT {
  font-family: "Oleo Script", "Lucida", "cursive";
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
div.home h3 {
  margin: 0;
}
div.home div.cta {
  margin-top: 2rem;
}
div.home div.cta button {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: #fff;
  min-width: 80px;
  background-color: transparent;
  margin: auto 0.5rem;
  font-weight: bolder;
  min-width: 150px;
}
div.home div.cta button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
div.home p.shortP {
  max-width: 50ch;
  margin: 2rem auto;
}

div.login {
  max-width: 40ch;
  margin: 2rem auto;
  text-align: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
div.login h2 {
  margin-top: 0;
}
div.login form {
  display: flex;
  flex-direction: column;
  width: 25ch;
  margin: 0 auto;
}
div.login form input {
  margin: 0.5rem 0;
  padding: 0.25rem;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}
div.login form input[type=submit] {
  min-width: 15ch;
  margin: 0 auto;
  margin-top: 0.5rem;
  background-color: #e06219;
  color: #fff;
  font-weight: bolder;
  border: 1px solid #fff;
}
div.login form input[type=submit]:hover {
  background-color: #fff;
  color: #e06219;
  cursor: pointer;
}
div.login p.signup {
  font-size: 0.8rem;
}
div.login button {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  min-width: 80px;
  background-color: transparent;
  margin: auto 0.5rem;
  font-weight: bolder;
  font-size: 0.8rem;
}
div.login button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

div.signup {
  max-width: 40ch;
  margin: 2rem auto;
  text-align: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
div.signup form {
  display: flex;
  flex-direction: column;
  width: 25ch;
  margin: 0 auto;
}
div.signup form input {
  margin: 0.5rem 0;
  padding: 0.25rem;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}
div.signup form input[type=submit] {
  min-width: 15ch;
  margin: 0 auto;
  margin-top: 0.5rem;
  background-color: #e06219;
  color: #fff;
  font-weight: bolder;
  border: 1px solid #fff;
}
div.signup form input[type=submit]:hover {
  background-color: #fff;
  color: #e06219;
  cursor: pointer;
}
div.signup form div.submitCancel {
  display: flex;
  justify-content: space-between;
}
div.signup form div.submitCancel button {
  width: 95%;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 0.25rem 0;
  margin-top: 0.5rem;
  font-weight: bolder;
  transition: all 0.25s ease-in-out;
}
div.signup form div.submitCancel button:nth-of-type(1) {
  margin-right: 0.25rem;
  background-color: transparent;
  color: #fff;
}
div.signup form div.submitCancel button:nth-of-type(1):hover {
  background-color: #fff;
  color: #e06219;
  cursor: pointer;
}
div.signup form div.submitCancel button:nth-of-type(2) {
  margin-left: 0.25rem;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}
div.signup form div.submitCancel button:nth-of-type(2):hover {
  background-color: #e06219;
  color: #fff;
  cursor: pointer;
}

div.main {
  display: grid;
  grid-template-columns: 55px 9fr;
  background: linear-gradient(45deg, rgb(204, 37, 14) 0%, rgb(214, 99, 5) 50%, rgb(100, 30, 2) 100%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
div.main nav.mainNav {
  height: 100vh;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}
div.main nav.mainNav a {
  width: 40px;
  height: 40px;
  margin: 0.5rem 0;
}
div.main nav.mainNav a img {
  width: 40px;
  height: 40px;
  filter: opacity(0.5);
}
div.main nav.mainNav a img:hover {
  cursor: pointer;
  filter: opacity(1);
  transition: all 0.25s ease-in-out;
}
div.main nav.mainNav a img.select {
  filter: opacity(1);
  transition: all 0.25s ease-in-out;
}

div.profile {
  margin: 2rem;
}
div.profile h3 {
  margin-top: 0;
  text-decoration: underline;
}
div.profile ul {
  padding: 0;
}
div.profile ul li {
  list-style-type: none;
  margin: 1rem 0;
}

div.userSpace {
  position: relative;
  display: grid;
  grid-template-columns: 200px 1fr;
}
div.userSpace ul.userlist {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
div.userSpace ul.userlist li {
  list-style-type: none;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}
div.userSpace ul.userlist li span {
  display: block;
}
div.userSpace ul.userlist li span.name {
  font-size: 0.95rem;
  margin-bottom: 0.15rem;
}
div.userSpace ul.userlist li span.email {
  font-size: 0.75rem;
  font-style: italic;
}

div.chatWindowWrapper {
  margin: 5rem;
}
div.chatWindowWrapper div.chatWindow {
  height: 600px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
div.chatWindowWrapper div.chatWindow ul {
  padding: 0 1rem;
}
div.chatWindowWrapper div.chatWindow ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5rem 0;
  color: #fff;
}
div.chatWindowWrapper div.chatWindow ul li div.nameTime {
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #000;
  margin-bottom: 0.25rem;
}
div.chatWindowWrapper div.chatWindow ul li div.nameTime span.chatName {
  color: #000;
  font-weight: 600;
  font-style: italic;
}
div.chatWindowWrapper div.chatWindow ul li.you {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  background-color: rgba(224, 92, 52, 0.75);
}
div.chatWindowWrapper div.chatWindow ul li.other {
  -webkit-margin-start: inherit;
          margin-inline-start: inherit;
  background-color: rgba(255, 255, 255, 0.15);
}
div.chatWindowWrapper div.chatWindow div.field {
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  height: 2rem;
}
div.chatWindowWrapper div.chatWindow div.field input {
  width: 100%;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
div.chatWindowWrapper div.chatWindow div.field input:hover {
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}
div.chatWindowWrapper div.chatWindow div.field button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1rem auto;
  align-items: center;
  color: #fff;
}

.msgContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.msgContainer::-webkit-scrollbar {
  display: none;
}

div.setting {
  margin: 2rem;
}
div.setting button {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  min-width: 80px;
  background-color: transparent;
  font-weight: bolder;
  font-size: 0.8rem;
}
div.setting button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */